services:
  backend:
    image: ${DOCKERHUB_USERNAME:-username}/utictactoe-backend:latest
    restart: always
    expose:
      - "5000"
    environment:
      - RECAPTCHA_SECRET_KEY=${RECAPTCHA_SECRET_KEY}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
    networks:
      - utictactoe

  nginx:
    image: ${DOCKERHUB_USERNAME:-username}/utictactoe-nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./ssl:/etc/nginx/ssl:ro
    depends_on:
      - backend
    networks:
      - utictactoe
    restart: always

networks:
  utictactoe:
    driver: bridge
