name: Deploy Backend to Server

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/utictactoe-backend:latest

      - name: Build and push nginx Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./
          file: ./nginx/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/utictactoe-nginx:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}

      - name: Recreate SSL files and send to server
        run: |
          echo "${{ secrets.SSL_FULLCHAIN_PEM }}" | base64 -d > fullchain.pem
          echo "${{ secrets.SSL_PRIVKEY_PEM }}" | base64 -d > privkey.pem
          ssh -p ${{ secrets.SSH_PORT }} ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "mkdir -p ~/utictactoe/ssl"
          scp -P ${{ secrets.SSH_PORT }} fullchain.pem ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:~/utictactoe/ssl/
          scp -P ${{ secrets.SSH_PORT }} privkey.pem ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:~/utictactoe/ssl/

      - name: Copy docker-compose.yml to server
        run: |
          scp -P ${{ secrets.SSH_PORT }} docker-compose.yml ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:~/utictactoe/

      - name: Deploy to Server
        run: |
          ssh -p ${{ secrets.SSH_PORT }} ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
            docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/utictactoe-backend:latest
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/utictactoe-nginx:latest
            docker compose -f ~/utictactoe/docker-compose.yml down || true
            mkdir -p ~/utictactoe
            cd ~/utictactoe
            export DOCKERHUB_USERNAME=${{ secrets.DOCKERHUB_USERNAME }}
            docker compose -f ~/utictactoe/docker-compose.yml up -d
          EOF
